@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

header {
  background-color: grey;
}

header h1 {
  margin: 0;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size:52px;
  /* text-align: center; */
  padding: 60px 0 20px 20px;
}

body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  text-align: left;
  font-size: 16px;
}
p {
  text-align: left;
  font-size: 12px;
}
ul{
   list-style-type: circle;
  
  text-align:left;
  font-size: 13px;

}

ul.a {
  list-style-type: circle;
}

a {
  text-align: center;
  color: blue
}